<nav class="nav-bar-principal uk-navbar uk-padding-remove uk-visible@m">
    <app-icon-menu-section class="uk-navbar-item uk-navbar-left"></app-icon-menu-section>
    <app-search-section class="uk-navbar-item uk-navbar-left"></app-search-section>
    <a class="uk-navbar-item uk-button">
        <i class="fa fa-heart icons-nav-bar  uk-margin-remove"></i>
    </a>
    <app-cart-section></app-cart-section>
    <app-login-section></app-login-section>
</nav>

<nav class="nav-bar-principal uk-navbar uk-padding-remove uk-hidden@m">
    <app-icon-menu-section class="uk-navbar-item uk-navbar-left"></app-icon-menu-section>
    <app-search-section></app-search-section>
    <app-cart-section></app-cart-section>
</nav>