.pruebaPrueba {


  .classPrueba {
    position: absolute;
    right: -30px;
    top: calc(100%);
    background-color: #ffffff;
    width: fit-content;
    border-radius: 10px;
    border: 1px solid #f3f4f7;
    box-shadow: 0 1px 20px rgba(59, 66, 78, .1);
    animation: fadeInUp .4s ease-in-out both;
    display: none;

    @media (min-width: 1200px) {
      right: 0;
    }
  }

  .classPrueba::before {
    transform: rotate(40deg) translateX(-50%);
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: -5px;
    left: 50%;
    background: white;
    width: 20px;
    height: 20px;
    box-shadow: -2px -2px 5px rgba(59, 66, 78, 0.1);
  }
}

.pruebaPrueba:hover {
  .classPrueba {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
}
