@import '../components.scss';
.categories-menu {
    background-color: white;
    color: #000000;
    .uk-link-text {
        color: #9fa7b6;
    }
    .widget-title {
        font-size: 18px;
        color: #3b424e;
    }
}