<div class="categories-menu display-flex-column display-flex-margintop-auto uk-light">
    <div class="display-flex-row display-flex-content-center">
        <div class="displa-flex-column uk-padding-small">
            <h4 class="uk-text-bolder uk-margin-remove widget-title">Conócenos</h4>
            <a class="uk-link-text">Sugerencias</a><br>
            <a class="uk-link-text">Nosotros</a><br>
            <a class="uk-link-text">Nuestra historia</a>
        </div>
        <div class="displa-flex-column uk-padding-small">
            <h4 class="uk-text-bolder uk-margin-remove widget-title">¿Cómo vender?</h4>
            <a class="uk-link-text">Formulario</a><br>
            <a class="uk-link-text">Instruccciones</a><br>
            <a class="uk-link-text">Carga tu primer producto</a>
        </div>
    </div>
    <div class="align-text-center uk-padding-small">
        <a class="uk-link-text">
            Condiciones de uso Aviso de privacidad
        </a> <span class="uk-link-text">© 2023 xyz.com</span>
    </div>
</div>