<!-- <div class="container-categories-menu">
    <div class="categories-menu">
        <ul>
            <li>
                <a href="#">
                    Item 1
                </a>
            </li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
        </ul>
    </div>
</div> -->

<div id="offcanvasSlide" uk-offcanvas>
    <div class="uk-offcanvas-bar">
        <a class="uk-offcanvas-close">
            <i class="fa-solid fa-xmark"></i>
        </a>
        <ul class="uk-nav">
            <li class="uk-active"><a href="#">Active</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#">Item</a></li>
        </ul>

    </div>
</div>
