/* You can add global styles to this file, and also import other style files */
@import './css/variables';
$primary-color: #ffffff;

html, body {
    height: 100%;
    text-transform: none !important;
    font-family: Poppins,sans-serif !important;
    background-color: #f3f4f7;
}

.uk-background-primary {
    background-color: $primary-color !important;
}

.height-large {
    height: 100%;
}

.uk-background-muted {
    background-color: transparent !important;
    background: none !important;
    border: 0 !important;
}

.uk-divider-vertical {
    height: 29px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.display-flex-row {
    display: flex;
    flex-direction: row;
}

.display-flex-column {
    @include primary-flex-column();
    @media #{$max_600} {
        &-sm {
            @include primary-flex-column();
        }
    }
}


.display-flex-center {
    align-items: center;
}

.display-flex-margintop-auto {
    margin-top: auto;
}
.display-flex-align-right {
    align-self: flex-end;
}
.align-text-center {
    text-align: center;
}
.display-flex-content-center {
    justify-content: center;
}
.display-flex-content-space-between {
    justify-content: space-between
}
.background-size-contain {
    background-size: contain;
}
